.post-eof {
  // background: $grey-light;
  // width: 8%;
  height: 1px;
  margin: $post-eof-margin-top auto $post-eof-margin-bottom;
  text-align: center;

  .post-block:last-child & {
    display: none;
  }
}
